<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete </title>
</head>
<body>
    <h1>Delete </h1>
    <form action="/delete/book" method="post">
        <input type="text" name="title" placeholder="Book title to delete">
        <button type="submit">Delete Book</button>
      </form>
      
      <form action="/delete/author" method="post">
        <input type="text" name="name" placeholder="Author name to delete">
        <button type="submit">Delete Author</button>
      </form>
      
      <form action="/delete/genre" method="post">
        <input type="text" name="name" placeholder="Genre name to delete">
        <button type="submit">Delete Genre</button>
      </form>
      
</body>
</html>