<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>genre</title>
</head>
<body>
    <h1>add genre</h1>
    <form action="/genre" method="POST">

        <input type="text" id="name" name="name">
        <label for="name">Name</label>
        <input type="text" id="description" name="description">
        <label for="description">Description</label>
       
        <button type="submit">Submit</button>
    </form>
    <a href="/">homee</a>
</body>
</html>