<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome to the Book App</h1>
  <a href="/books">View Books</a>
  <a href="/authors">Authors</a>
  <a href="/genres">Genre</a>

  <a href="/search">Search books</a>


  <a href="/book/new">Create book</a>
  <a href="/author/new">Create author</a>
  <a href="/genre/new">Create genre</a>

  <a href="/delete">Delete book</a>
<a href="/update">Update a book</a>
</body>
</html>
