<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>search</h1>
    <form action="/search/book" method="get">
        <input type="text" name="search" placeholder="Search books">
        <button type="submit">Search</button>
      </form>
      
      <form action="/search/author" method="get">
        <input type="text" name="search" placeholder="Search authors">
        <button type="submit">Search</button>
      </form>
      
      <form action="/search/genre" method="get">
        <input type="text" name="search" placeholder="Search genres">
        <button type="submit">Search</button>
      </form>
      
</body>
</html>