<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>update</h1>
    <form action="/update/book" method="post">
        <input type="text" name="title" placeholder="old title">
        <input type="text" name="update" placeholder="new title">
        <button type="submit">Update book</button>
      </form>
      
      <form action="/update/author" method="post">
        <input type="text" name="name" placeholder="old name">
        <input type="text" name="update" placeholder="new name">
        <button type="submit">Update author</button>
      </form>
      
      <form action="/update/genre" method="post">
        <input type="text" name="name" placeholder="old name">
        <input type="text" name="update" placeholder="new name">
        <button type="submit">Update genre</button>
      </form>
      
</body>
</html>